$tygrid-unit:0.875rem;
$tyfont-size-scalar:1.2;
$tyfont-size-base:1.125rem;
$tyfont-sans:'Noto Sans','Noto Sans TC',helvetica,arial,sans-serif;
$tyfont-base:$tyfont-sans;
$tyfont-heading:$tyfont-sans;
$tycolor-bg:#eee;
$tycolor-fg:#444;
$tycolor-text-light:#777;
$tycolor-link-default:#56a;
$tycolor-link-active:#944;
$tyicons-path:"fonts/tyicons";

$page-2col:920px;

@import "../../node_modules/tyfy/source/scss/required/core";
@import "../../node_modules/tyfy/source/scss/required/functions";
@import "../../node_modules/tyfy/source/scss/required/settings";
@import "../../node_modules/tyfy/source/scss/required/mixins";

@import "../../node_modules/tyfy/source/scss/essential/normalize";
@import "../../node_modules/tyfy/source/scss/essential/body";
@import "../../node_modules/tyfy/source/scss/essential/spacing";

@import "../../node_modules/tyfy/source/scss/optional/paragraphs";
@import "../../node_modules/tyfy/source/scss/optional/headings";
@import "../../node_modules/tyfy/source/scss/optional/links";
@import "../../node_modules/tyfy/source/scss/optional/lists";
@import "../../node_modules/tyfy/source/scss/optional/utility";
@import "../../node_modules/tyfy/source/scss/optional/quotes";
@import "../../node_modules/tyfy/source/scss/optional/tables";
@import "../../node_modules/tyfy/source/scss/optional/media";

@import "../../node_modules/tyfy/source/scss/extras/icons";

body {
  padding:tygrid(3) tygrid(2) tygrid(5) tygrid(2);
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
.links-underlined a[href] {
  border-bottom-color:rgba($tycolor-link-default,0.25);
  &:hover,
  &:active {
    border-bottom-color:$tycolor-link-active;
  }
}
p.introduction {
	font-size:tyscale(1);
	line-height:tylead(tyscale(2));
}
ul.toc {
	padding-left:0;
	li {
	  list-style:none;
  }
}
ul.sitemenu {
  display:flex;
  padding:0;
  padding-bottom:tygrid(2);
	li {
	  margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
  }
  li + li {
    margin-left:tygrid(2);
  }
}
#top {
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:1px;
	width:1px;
	overflow:hidden;
}

#rightColumn {
	color:$tycolor-text-light;
	font-size:tyscale(-1);
	line-height:tylead(tyscale(-1));
  margin-top:tygrid(5);
  body#home & {
    @media (min-width:$page-2col) {
      margin-top:0;
    }
  }
  .shilin & {
    margin-top:tygrid(2);
  }
	@media (min-width:$page-2col) {
  	width:25%;
	}
  h2 {
  	border-bottom:1px $tycolor-border solid;
  	border-top:2px $tycolor-border solid;
  	font-size:tyscale(-2);
  	letter-spacing:0.15em;
  	line-height:tylead(tyscale(-2));
  	padding-top:tygrid(1);
  	padding-bottom:tygrid(1);
  	text-transform:uppercase;
  	& + * {
    	margin-top:tygrid(1);
  	}
  }
}

#pageContainer {
	margin-left:auto;
	margin-right:auto;
	max-width:640px;
	@media (min-width:$page-2col) {
	  max-width:960px;
	}
}

#headContainer {
  h1 {
    a[href] {
    	border:none;
    	color:$tycolor-fg;
    	text-decoration:none;
    	&:hover,
    	&:active {
        border:none;
        color:$tycolor-link-active;
        text-decoration:none;
    	}
    }
  }
  p {
  	font-size:tyscale(1);
  	line-height:tylead(tyscale(1));
  }
}

#columnContainer {
  @media (min-width:$page-2col) {
    display:flex;
    justify-content:space-between;
  }
}
#leftColumn {
  @media (min-width:$page-2col) {
  	width:66.66%;
  }
}

nav.paging {
  ul {
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    li.prev {
      margin-right:auto;
      a::before {
        content:tychar($tyicons-angle-left);
        font-family:$tyfont-symbol;
        font-size:0.7rem;
        margin-right:0.3rem;
      }
    }
    li.next {
      margin-left:auto;
      a::after {
        content:tychar($tyicons-angle-right);
        font-family:$tyfont-symbol;
        font-size:0.7rem;
        margin-left:0.3rem;
      }
    }
  }
}

#footContainer {
	font-size:tyscale(-1);
	line-height:tylead(tyscale(-1));
	color:$tycolor-text-light;
	padding-top:tygrid(4);
}

.tymedia {
  img {
    border:tygrid(0.5) white solid;
    box-shadow:0 0 tygrid(0.5) rgba(black,0.2);
    box-sizing:border-box;
  }
  .tymedia-caption {
    border-bottom:1px $tycolor-border solid;
    padding-bottom:tygrid(1);
  }
}

.figure-grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
  grid-gap:2rem;
}

.zoomable {
  position:relative;
  transition:all 0.25s;
  a.tybutton {
    box-sizing:border-box;
    font-size:tyscale(-2);
    height:2rem;
    line-height:tylead(tyscale(-2));
    overflow:hidden;
    padding:0;
    width:2rem;
    &::before {
      background-position:center center;
      background-repeat:no-repeat;
      background-size:1.125rem 1.125rem;
      content:"";
      display:inline-block;
      height:2rem;
      width:2rem;
    }
    &.zoomin {
      position:absolute;
      right:1rem;
      top:1rem;
      &::before {
        background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M27%2C2%20C40.8071187%2C2%2052%2C13.1928813%2052%2C27%20C52%2C40.8071187%2040.8071187%2C52%2027%2C52%20C13.1928813%2C52%202%2C40.8071187%202%2C27%20C2%2C13.1928813%2013.1928813%2C2%2027%2C2%20Z%20M27%2C11%20C18.163444%2C11%2011%2C18.163444%2011%2C27%20C11%2C35.836556%2018.163444%2C43%2027%2C43%20C35.836556%2C43%2043%2C35.836556%2043%2C27%20C43%2C18.163444%2035.836556%2C11%2027%2C11%20Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%3Cpolygon%20fill%3D%22white%22%20points%3D%2238%2045%2045%2038%2063%2056%2056%2063%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22white%22%20points%3D%2231%2016%2030.999%2023%2038%2023%2038%2031%2030.999%2031%2031%2038%2023%2038%2022.999%2031%2016%2031%2016%2023%2022.999%2023%2023%2016%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
    &.zoomout {
      display:none;
      &::before {
        background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M27%2C2%20C40.8071187%2C2%2052%2C13.1928813%2052%2C27%20C52%2C40.8071187%2040.8071187%2C52%2027%2C52%20C13.1928813%2C52%202%2C40.8071187%202%2C27%20C2%2C13.1928813%2013.1928813%2C2%2027%2C2%20Z%20M27%2C11%20C18.163444%2C11%2011%2C18.163444%2011%2C27%20C11%2C35.836556%2018.163444%2C43%2027%2C43%20C35.836556%2C43%2043%2C35.836556%2043%2C27%20C43%2C18.163444%2035.836556%2C11%2027%2C11%20Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%3Cpolygon%20id%3D%22Rectangle%22%20fill%3D%22white%22%20points%3D%2238%2045%2045%2038%2063%2056%2056%2063%22%3E%3C%2Fpolygon%3E%3Cpolygon%20id%3D%22Path%22%20fill%3D%22white%22%20points%3D%2238%2023%2038%2031%2016%2031%2016%2023%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }
  &:target {
    align-items:center;
    background-color:rgba(white,0.95);
    box-sizing:border-box;
    color:white;
    display:flex;
    flex-direction:column;
    height:100%;
    left:0;
    margin:0;
    outline:none;
    padding:2rem;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:999;
    @supports ((backdrop-filter:blur(5px)) or (-webkit-backdrop-filter:blur(5px))) {
      background-color:rgba(white,0.75);
      -webkit-backdrop-filter:blur(5px);
      backdrop-filter:blur(5px);
    }
    a {
      &.zoomout {
        display:inline-block;
        position:absolute;
        right:3rem;
        top:3rem;
        @media (min-width:1264px) {
          right:calc(50vw - 584px);
        }
      }
      &.zoomin {
        display:none;
      }
    }
    img {
      box-shadow:0 0 1rem rgba(0,0,0,0.2);
      max-height:70vh;
      max-width:1200px;
      object-fit:cover;
      width:100%;
      @media (min-height:800px) {
        max-height:80vh;
      }
      @media (min-height:1000px) {
        max-height:90vh;
      }
    }
  }
}
