$tygrid-unit:0.875rem;
$tyfont-size-scalar:1.2;
$tyfont-size-base:1.125rem;
$tyfont-serif:'Noto Serif','Noto Serif TC',georgia,serif;
$tyfont-sans:'Noto Sans','Noto Sans TC',helvetica,arial,sans-serif;
$tyfont-heading:$tyfont-serif;
$tycolor-bg:#eee;
$tycolor-fg:#444;
$tycolor-text-light:#777;
$tycolor-link-default:#56a;
$tycolor-link-active:#944;
$tyicons-path:"fonts/tyicons";

$page-2col:920px;

@import "../../node_modules/tyfy/source/scss/required/core";
@import "../../node_modules/tyfy/source/scss/required/functions";
@import "../../node_modules/tyfy/source/scss/required/settings";
@import "../../node_modules/tyfy/source/scss/required/mixins";

@import "../../node_modules/tyfy/source/scss/essential/normalize";
@import "../../node_modules/tyfy/source/scss/essential/body";
@import "../../node_modules/tyfy/source/scss/essential/spacing";

@import "../../node_modules/tyfy/source/scss/optional/paragraphs";
@import "../../node_modules/tyfy/source/scss/optional/headings";
@import "../../node_modules/tyfy/source/scss/optional/links";
@import "../../node_modules/tyfy/source/scss/optional/lists";
@import "../../node_modules/tyfy/source/scss/optional/utility";
@import "../../node_modules/tyfy/source/scss/optional/quotes";
@import "../../node_modules/tyfy/source/scss/optional/tables";
@import "../../node_modules/tyfy/source/scss/optional/media";

@import "../../node_modules/tyfy/source/scss/extras/icons";

body {
  padding:tygrid(3) tygrid(2) tygrid(5) tygrid(2);
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
.links-underlined a[href] {
  border-bottom-color:rgba($tycolor-link-default,0.25);
  &:hover,
  &:active {
    border-bottom-color:$tycolor-link-active;
  }
}
#top {
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:1px;
	width:1px;
	overflow:hidden;
}

#rightColumn {
	color:$tycolor-text-light;
	font-size:tyscale(-1);
	line-height:tylead(tyscale(-1));
  margin-top:tygrid(5);
  body#home & {
    @media (min-width:$page-2col) {
      margin-top:0;
    }
  }
  .shilin & {
    margin-top:tygrid(2);
  }
	@media (min-width:$page-2col) {
  	width:25%;
	}
  h2 {
  	border-bottom:1px $tycolor-border solid;
  	border-top:2px $tycolor-border solid;
  	font-size:tyscale(-2);
  	letter-spacing:0.15em;
  	line-height:tylead(tyscale(-2));
  	padding-top:tygrid(1);
  	padding-bottom:tygrid(1);
  	text-transform:uppercase;
  	& + * {
    	margin-top:tygrid(1);
  	}
  }
}
p.introduction {
	font-size:tyscale(1);
	line-height:tylead(tyscale(2));
}
ul.toc {
  font-family:$tyfont-sans;
	padding-left:0;
	li {
	  list-style:none;
  }
}
ul.sitemenu {
  display:flex;
  font-family:$tyfont-sans;
  padding:0;
  padding-bottom:tygrid(2);
	li {
	  margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
  }
  li + li {
    margin-left:tygrid(2);
  }
}

#pageContainer {
	margin-left:auto;
	margin-right:auto;
	max-width:640px;
	@media (min-width:$page-2col) {
	  max-width:960px;
	}
}

#headContainer {
  h1 {
    a[href] {
    	border:none;
    	color:$tycolor-fg;
    	text-decoration:none;
    	&:hover,
    	&:active {
        border:none;
        color:$tycolor-link-active;
        text-decoration:none;
    	}
    }
  }
  p {
  	font-size:tyscale(1);
  	line-height:tylead(tyscale(1));
  }
}

#columnContainer {
  @media (min-width:$page-2col) {
    display:flex;
    justify-content:space-between;
  }
}
#leftColumn {
  @media (min-width:$page-2col) {
  	width:66.66%;
  }
}

nav.paging {
  ul {
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    li.prev {
      margin-right:auto;
      a::before {
        content:tychar($tyicons-angle-left);
        font-family:$tyfont-symbol;
        font-size:0.7rem;
        margin-right:0.3rem;
      }
    }
    li.next {
      margin-left:auto;
      a::after {
        content:tychar($tyicons-angle-right);
        font-family:$tyfont-symbol;
        font-size:0.7rem;
        margin-left:0.3rem;
      }
    }
  }
}

#footContainer {
	font-size:tyscale(-1);
	line-height:tylead(tyscale(-1));
	color:$tycolor-text-light;
	padding-top:tygrid(4);
}

.tymedia {
  img {
    border:tygrid(0.5) white solid;
    box-shadow:0 0 tygrid(0.5) rgba(black,0.2);
    box-sizing:border-box;
  }
  .tymedia-caption {
    border-bottom:1px $tycolor-border solid;
    padding-bottom:tygrid(1);
  }
}
